<div class="checkedout-list-component">
  <div *ngIf="items.length === 0">
    You have no checked out items.
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let item of items">
      <div>
        <img src="{{item.imageSrc}}" style="float:left;" />
        <div style="float: right;">
          <span class="badge badge-danger" *ngIf="item.isExpired">
            {{item.daysRemaining}} days overdue
          </span>
          <span class="badge badge-danger" *ngIf="!item.isExpired && item.daysRemaining == 0">
            {{item.daysRemaining}} days remaining
          </span>
          <span class="badge badge-info" *ngIf="!item.isExpired && item.daysRemaining > 3">
            {{item.daysRemaining}} days remaining
          </span>
          <span class="badge badge-warning" *ngIf="!item.isExpired && item.daysRemaining > 0 && item.daysRemaining <= 3">
            {{item.daysRemaining}} days remaining
          </span>
        </div>
        <div style="margin-left: 80px;">
          <div>
            {{item.title}}
          </div>
          <div class="small">
            Due: {{item.dueDateFormatted}}
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
