.main-component {
  .spl-buttons {
    float: right;
    margin-right: 5px;
  }

  .spl-toolbar {
    background-color: lightgrey;
    padding: 5px;
  }

  .spl-items-count {
    float: right;
  }

  .main-content {
    min-height: 200px;
  }
}
