<div class="main-component">
  <ul class="nav nav-tabs nav-fill">
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active': activeTabIndex === 0}" href="#" (click)="toggleTab($event);">
        Check Outs
        <span class="badge badge-secondary badge-pill spl-items-count" [hidden]="isLoading">
          {{checkedOutItems && checkedOutItems.length}}
        </span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active': activeTabIndex === 1}" href="#" (click)="toggleTab($event);">
        Holds
        <span class="badge badge-secondary badge-pill spl-items-count" [hidden]="isLoading">
          {{heldItems && heldItems.length}}
        </span>
      </a>
    </li>
  </ul>
  <div class="main-content">
    <div [hidden]="!isLoading" style="text-align: center;">
      <i class="fa fa-spinner fa-spin fa-3x"></i>
    </div>

    <app-checkedout-list *ngIf="!isLoading && activeTabIndex === 0" [items]="checkedOutItems"></app-checkedout-list>
    <app-held-list *ngIf="!isLoading && activeTabIndex === 1" [items]="heldItems"></app-held-list>
  </div>

  <div class="fixed-bottom spl-toolbar app-container">
    <button class="btn btn-sm btn-outline-secondary spl-buttons" (click)="refresh()" title="Refresh Library Items">
      <i class="fa fa-retweet"></i>
    </button>

    <a href="https://www.spl.org/" class="btn btn-sm btn-outline-secondary spl-buttons" target="_blank" title="Open Seattle Public Library Web Site">
      <i class="fa fa-book"></i>
    </a>

    <a routerLink="/settings" class="btn btn-sm btn-outline-secondary spl-buttons" title="Open Settings Page">
      <i class="fa fa-cog"></i>
    </a>

    <small class="form-text text-muted">Last Refresh: {{lastRefreshDate}}</small>
  </div>

</div>
