<div class="held-list-component">

  <div *ngIf="items.length === 0">
    You have no items on hold.
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let item of items">
      <div>
        <img src="{{item.imageSrc}}" style="float:left;" />
        <div style="float: right;">
          <span class="badge badge-success" *ngIf="item.isReady">
            Ready
          </span>
          <span class="badge badge-info" *ngIf="item.isInTransit">
            In Transit
          </span>
          <span class="badge badge-secondary" *ngIf="!item.isReady && !item.isInTransit">
            Position: {{item.position}}
          </span>
        </div>
        <div style="margin-left: 80px;">
          {{item.title}}
        </div>
      </div>
    </li>
  </ul>
</div>
