<div class="card">
  <div class="card-header">
    <h5>Settings</h5>
  </div>
  <div class="card-body">
    <form #settingsForm="ngForm">
      <div class="form-group">
        <label for="textUrl">Data Url</label>
        <input type="text" class="form-control" id="textUrl" placeholder="Data Url" [(ngModel)]="settings.dataUrl" name="dataUrl"
          required>
      </div>
      <div class="form-group">
        <label for="textToken">Data Token</label>
        <input type="text" class="form-control" id="textToken" placeholder="(Optional) Data Token" [(ngModel)]="settings.dataToken"
          name="dataToken">
      </div>
      <div class="form-group">
        <label for="textUsername">SPL Username</label>
        <input type="text" class="form-control" id="textUsername" placeholder="SPL Username" [(ngModel)]="settings.splUsername"
          name="splUsername" required autofocus>
      </div>
      <div class="form-group">
        <label for="textPwd">SPL Password</label>
        <input type="password" class="form-control" id="textPwd" placeholder="SPL Password" [(ngModel)]="settings.splPassword"
          name="splPassword" required>
      </div>

      <button type="button" class="btn btn-primary spl-buttons" (click)="save()" [disabled]="!settingsForm.form.valid">
        <i class="fa fa-save"></i>
        &nbsp;&nbsp;Save & Close
      </button>
      <button type="button" class="btn btn-secondary spl-buttons" (click)="close()" *ngIf="hasInitialSettings">
        <i class="fa fa-times"></i>
        &nbsp;&nbsp;Close
      </button>
    </form>
  </div>
</div>
